*{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

.fondo_green{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #00ad51 0%, #00ad51 50%, #006c32 100%) ;
    position: fixed;
    z-index: -1;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move{
    transform: translateX(-100%);
}

.fondo_orange{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #f3c200 0%, #ffc400 50%, #f59f00 100%) ;
    position: fixed;
    z-index: -1;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
}

.activo{
    transform: translateX(0);
}

/* HEADER */

header{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.header_nav{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.logo{
    font-family: "Anton", serif;
    font-size: 3rem;
    color: white;
}

.nav_list{
    font-family: "Open Sans", serif;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    list-style: none;
}

/* Section */

section{
    height: calc(100vh-100px);
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

h2.soda{
    font-size: 25rem;
    margin-bottom: 100px;
    font-family: "Fira Sans Condensed", serif;
    text-transform: uppercase;
    position: absolute;

}

.can{
    position: absolute;
    height: 500px;
    margin-bottom: 100px;
}

.limon{
    position: absolute;
    height: 200px;
    margin-right: 200px;
    margin-top: 250px;
}

.limon2{
    position: absolute;
    height: 100px;
    margin-bottom: 550px;
    margin-left: 200px;
    transform: rotateZ(40deg);
    
}

.melocoton{
    position: absolute;
    height: 400px;
    margin-right: 200px;
    margin-top: 250px;
}

.melocoton2{
    position: absolute;
    height: 200px;
    margin-bottom: 650px;
    margin-left: 200px;
    transform: rotateZ(40deg);
}

/* Trancision */

.change{
    width: 400px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

.circulo_1, .circulo_2{
    height: 15px;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    opacity: 0.4;
    margin-top: 150px;
}

.circulo_1:hover, .circulo_2:hover{
    background-color: white;
    opacity: 1;
    cursor: pointer;
}

/* Hojas */

.hoja_1{
    position: absolute;
    height: 15vw;
    margin-left: 1200px;
    margin-bottom: 190px;
    transform: rotateZ(-80deg);
    transition: 1s ease-in-out;


}

.dinamic{
    height: 10vw;
    margin-right: 1600px;
    margin-bottom: 490px;
    transform: rotateZ(-180deg);
}


.hoja_2{
    position: absolute;
    height: 20vw;
    filter: blur(3px);
    margin-right: 900px;
    margin-top: 250px;
    transition: 1s ease-in-out;
}

.dinamicDos{
    height: 20vw;
    filter: blur(3px);
    margin-left: 1900px;
    margin-bottom: 400px;
    transform: rotateZ(-110deg);
}


.hoja_3{
    position: absolute;
    height: 25vw;
    filter: blur(10px);
    top: 50vh;
    left: 60vw;
    transform: rotateZ(-120deg);
    transition: 1s ease-in-out;

}

.dinamicTres{
    height: 20vw;
    filter: blur(5px);
    left: 50vw;
    transform: rotateZ(-300deg);
}

.hoja_4{
    position: absolute;
    height: 15vw;
    bottom: 50vh;
    left: 10vw;
    transform: rotateZ(-200deg);
    transition: 1s ease-in-out;

}

.dinamicCuatro{
    height: 20vw;
    filter: blur(5px);
    left: 5vw;
    bottom: 10vh;
    transform: rotateZ(-80deg);
}



